In [6]:
import spacy
nlp=spacy.load('en_core_web_sm')

In [7]:
nlp.pipe_names

['tok2vec', 'tagger', 'parser', 'attribute_ruler', 'lemmatizer', 'ner']

In [8]:
doc = nlp("Tesla Inc is going to acquire twitter for $45 billion")
for ent in doc.ents:
    print(ent.text, " | ", ent.label_, " | ", spacy.explain(ent.label_))

Tesla Inc  |  ORG  |  Companies, agencies, institutions, etc.
$45 billion  |  MONEY  |  Monetary values, including unit

In [46]:
from spacy import displacy

displacy.render(doc, style="ent", jupyter=True)

In [11]:
nlp.pipe_labels['ner']

['CARDINAL',
 'DATE',
 'EVENT',
 'FAC',
 'GPE',
 'LANGUAGE',
 'LAW',
 'LOC',
 'MONEY',
 'NORP',
 'ORDINAL',
 'ORG',
 'PERCENT',
 'PERSON',
 'PRODUCT',
 'QUANTITY',
 'TIME',
 'WORK_OF_ART']

In [40]:
doc = nlp("Michael Bloomberg founded Bloomberg in 1992")
for ent in doc.ents:
    print(ent.text, " | ", ent.label_, " | ", spacy.explain(ent.label_))

Michael Bloomberg  |  PERSON  |  People, including fictional
Bloomberg  |  PERSON  |  People, including fictional
1992  |  DATE  |  Absolute or relative dates or periods

In [47]:
spacy.explain('LOC')

'Non-GPE locations, mountain ranges, bodies of water'

In [41]:
doc = nlp("Tesla is going to acquire Twitter for $45 billion")
for ent in doc.ents:
    print(ent.text, " | ", ent.label_, " | ", spacy.explain(ent.label_))

Tesla  |  ORG  |  Companies, agencies, institutions, etc.
Twitter  |  PRODUCT  |  Objects, vehicles, foods, etc. (not services)
$45 billion  |  MONEY  |  Monetary values, including unit

In [42]:
type(doc[0])

spacy.tokens.token.Token

In [43]:
type(doc[0:5])

spacy.tokens.span.Span

In [44]:
from spacy.tokens import Span

s1=Span(doc, 0, 1, label='ORG')
s2=Span(doc, 5, 6, label='ORG')

doc.set_ents([s1, s2], default='unmodified')

In [45]:
for ent in doc.ents:
    print(ent.text, " | ", ent.label_)

Tesla  |  ORG
Twitter  |  ORG
$45 billion  |  MONEY